$color-white: #FFFFFF
$color-black: #000000
$box-shadow-yellow: #FF9900
$box-shadow-red: #FF0000
$box-gradient: rgba(255, 255, 255, 0.47)
$line-gradient: linear-gradient(180deg, rgba(255, 153, 0, 0.42) 0%, rgba(255, 255, 255, 0) 0.01%, #000000 0.02%, rgba(33, 20, 0, 0.977879) 44.79%, rgba(175, 105, 0, 0.883261) 52.6%, #000000 64.06%, #000000 96.88%)
$background-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.32) 0%, rgba(251, 160, 23, 0.54) 12.5%, #F1970F 28.12%, #FA7800 58.33%, #FA3C00 99.48%)
@mixin respond($breakpoint)
    @if $breakpoint == phone
        @media only screen and (max-width: 420px)
            @content
    @if $breakpoint == tab-port
        @media only screen and (max-width: 830px)
            @content
    @if $breakpoint == tab-land
        @media only screen and (max-width: 1024px)
            @content
    @if $breakpoint == big-screen
        @media only screen and (max-width: 1500px)
            @content
    
*, ::after, ::before
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 62.5%
    scroll-behavior: smooth
    
body
    font-family: 'Inter', sans-serif
    font-style: normal
    font-weight: 700
    font-size: 4rem