*, ::after, ::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  background-color: #000000;
}

.menu {
  margin: 0;
  height: 100vh;
  width: 100vw;
  position: relative;
  padding-top: 3.4rem;
}
.menu__logo1 {
  width: 58vw;
  height: 75vh;
  position: absolute;
  top: 143px;
  left: 605px;
}
@media only screen and (max-width: 1500px) {
  .menu__logo1 {
    display: none;
  }
}

.text-box {
  background: rgba(255, 255, 255, 0.47);
  border-radius: 3.1rem;
  width: 74.6rem;
  height: 33.2rem;
  margin-left: 3.8rem;
  margin-top: 4.5rem;
  padding-top: 3.2rem;
  padding-left: 3.8rem;
}
@media only screen and (max-width: 1024px) {
  .text-box {
    width: 44.6rem;
    height: 33.2rem;
  }
}

.nav__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  line-height: 3.8rem;
  left: 3.8rem;
}
.nav__item {
  margin: 0.8rem;
  z-index: 2;
}
.nav__link:link, .nav__link:visited {
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
.nav__link:hover, .nav__link:active {
  color: #FFFFFF;
  opacity: 1;
}

.line {
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 153, 0, 0.42)), color-stop(0.01%, rgba(255, 255, 255, 0)), color-stop(0.02%, #000000), color-stop(44.79%, rgba(33, 20, 0, 0.977879)), color-stop(52.6%, rgba(175, 105, 0, 0.883261)), color-stop(64.06%, #000000), color-stop(96.88%, #000000));
  background: -o-linear-gradient(top, rgba(255, 153, 0, 0.42) 0%, rgba(255, 255, 255, 0) 0.01%, #000000 0.02%, rgba(33, 20, 0, 0.977879) 44.79%, rgba(175, 105, 0, 0.883261) 52.6%, #000000 64.06%, #000000 96.88%);
  background: linear-gradient(180deg, rgba(255, 153, 0, 0.42) 0%, rgba(255, 255, 255, 0) 0.01%, #000000 0.02%, rgba(33, 20, 0, 0.977879) 44.79%, rgba(175, 105, 0, 0.883261) 52.6%, #000000 64.06%, #000000 96.88%);
  z-index: -1;
}

.sidebar {
  margin-left: 4.8rem;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.hamburger {
  border: none;
  z-index: 100;
  background-color: #FFFFFF;
  height: 0.3rem;
  width: 3.5rem;
}
.hamburger::before, .hamburger::after {
  content: "";
  background-color: #FFFFFF;
  height: 0.3rem;
  width: 3.5rem;
  display: block;
}
.hamburger::before {
  -webkit-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
          transform: translateY(-15px);
}
.hamburger::after {
  -webkit-transform: translateY(15px);
      -ms-transform: translateY(15px);
          transform: translateY(15px);
}