
@import 'burgerpage-sidebar'
@import 'burgerpage-header'
@import 'burgerpage-content'
@import 'burgerpage-gallery'
.main-burgerpage
    min-width: 100vw
    min-height: 100vh
    background: $background-gradient