
@import 'pizzapage-sidebar'
@import 'pizzapage-header'
@import 'pizzapage-content'
@import 'pizzapage-gallery'
.main-pizzapage
    min-width: 100vw
    min-height: 100vh
    background: $background-gradient
